body {
  .remodal {
    display: table;
    margin: 0 auto;
    min-height: 300px;
    &.with-white-theme {
      background: #fff;
      vertical-align: top;
    }
    &-bg {
      &.with-white-theme {
        &.remodal-is-opening,
        &.remodal-is-opened {
          filter: none;
        }
      }
    }
    &-wrapper {
      &.with-white-theme {
        padding: 80px 10px 0;
      }
    }
  }
}
