@import "foundation/settings";
@import "variables";
@import "normalize";
@import "navigation";

@import "foundation/components/type";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";

@import "ihover/ihover";

@import "slick/slick";
@import "slick/slick-theme";
@import "slick/slick-user";

@import "remodal";


@import "../vendors/directionhover/jquery.hoverdir";

.row {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
}

.no-padding,
[class*="no-padding-childrens"] > * {
  padding: 0 !important;
}
.no-margin {
  margin: 0;
}
