/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 94px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -94px;
$arrow-left-width: 38px;
$arrow-left-height: 38px;
$arrow-left-total-width: 158px;
$arrow-left-total-height: 132px;
$arrow-left-image: '../images/sprite/sprite.png';
$arrow-left: (0px, 94px, 0px, -94px, 38px, 38px, 158px, 132px, '../images/sprite/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 38px;
$arrow-right-y: 94px;
$arrow-right-offset-x: -38px;
$arrow-right-offset-y: -94px;
$arrow-right-width: 38px;
$arrow-right-height: 38px;
$arrow-right-total-width: 158px;
$arrow-right-total-height: 132px;
$arrow-right-image: '../images/sprite/sprite.png';
$arrow-right: (38px, 94px, -38px, -94px, 38px, 38px, 158px, 132px, '../images/sprite/sprite.png', 'arrow-right', );
$comment-name: 'comment';
$comment-x: 132px;
$comment-y: 0px;
$comment-offset-x: -132px;
$comment-offset-y: 0px;
$comment-width: 26px;
$comment-height: 26px;
$comment-total-width: 158px;
$comment-total-height: 132px;
$comment-image: '../images/sprite/sprite.png';
$comment: (132px, 0px, -132px, 0px, 26px, 26px, 158px, 132px, '../images/sprite/sprite.png', 'comment', );
$hover-comment-name: 'hover-comment';
$hover-comment-x: 132px;
$hover-comment-y: 51px;
$hover-comment-offset-x: -132px;
$hover-comment-offset-y: -51px;
$hover-comment-width: 24px;
$hover-comment-height: 20px;
$hover-comment-total-width: 158px;
$hover-comment-total-height: 132px;
$hover-comment-image: '../images/sprite/sprite.png';
$hover-comment: (132px, 51px, -132px, -51px, 24px, 20px, 158px, 132px, '../images/sprite/sprite.png', 'hover-comment', );
$hover-heart-name: 'hover-heart';
$hover-heart-x: 132px;
$hover-heart-y: 91px;
$hover-heart-offset-x: -132px;
$hover-heart-offset-y: -91px;
$hover-heart-width: 22px;
$hover-heart-height: 20px;
$hover-heart-total-width: 158px;
$hover-heart-total-height: 132px;
$hover-heart-image: '../images/sprite/sprite.png';
$hover-heart: (132px, 91px, -132px, -91px, 22px, 20px, 158px, 132px, '../images/sprite/sprite.png', 'hover-heart', );
$hover-star-name: 'hover-star';
$hover-star-x: 132px;
$hover-star-y: 71px;
$hover-star-offset-x: -132px;
$hover-star-offset-y: -71px;
$hover-star-width: 22px;
$hover-star-height: 20px;
$hover-star-total-width: 158px;
$hover-star-total-height: 132px;
$hover-star-image: '../images/sprite/sprite.png';
$hover-star: (132px, 71px, -132px, -71px, 22px, 20px, 158px, 132px, '../images/sprite/sprite.png', 'hover-star', );
$icon-bronce-name: 'icon-bronce';
$icon-bronce-x: 44px;
$icon-bronce-y: 0px;
$icon-bronce-offset-x: -44px;
$icon-bronce-offset-y: 0px;
$icon-bronce-width: 44px;
$icon-bronce-height: 54px;
$icon-bronce-total-width: 158px;
$icon-bronce-total-height: 132px;
$icon-bronce-image: '../images/sprite/sprite.png';
$icon-bronce: (44px, 0px, -44px, 0px, 44px, 54px, 158px, 132px, '../images/sprite/sprite.png', 'icon-bronce', );
$icon-oro-name: 'icon-oro';
$icon-oro-x: 88px;
$icon-oro-y: 0px;
$icon-oro-offset-x: -88px;
$icon-oro-offset-y: 0px;
$icon-oro-width: 44px;
$icon-oro-height: 54px;
$icon-oro-total-width: 158px;
$icon-oro-total-height: 132px;
$icon-oro-image: '../images/sprite/sprite.png';
$icon-oro: (88px, 0px, -88px, 0px, 44px, 54px, 158px, 132px, '../images/sprite/sprite.png', 'icon-oro', );
$icon-plata-name: 'icon-plata';
$icon-plata-x: 0px;
$icon-plata-y: 0px;
$icon-plata-offset-x: 0px;
$icon-plata-offset-y: 0px;
$icon-plata-width: 44px;
$icon-plata-height: 54px;
$icon-plata-total-width: 158px;
$icon-plata-total-height: 132px;
$icon-plata-image: '../images/sprite/sprite.png';
$icon-plata: (0px, 0px, 0px, 0px, 44px, 54px, 158px, 132px, '../images/sprite/sprite.png', 'icon-plata', );
$profile-check-name: 'profile-check';
$profile-check-x: 132px;
$profile-check-y: 26px;
$profile-check-offset-x: -132px;
$profile-check-offset-y: -26px;
$profile-check-width: 25px;
$profile-check-height: 25px;
$profile-check-total-width: 158px;
$profile-check-total-height: 132px;
$profile-check-image: '../images/sprite/sprite.png';
$profile-check: (132px, 26px, -132px, -26px, 25px, 25px, 158px, 132px, '../images/sprite/sprite.png', 'profile-check', );
$profile-medal-1-name: 'profile-medal-1';
$profile-medal-1-x: 80px;
$profile-medal-1-y: 54px;
$profile-medal-1-offset-x: -80px;
$profile-medal-1-offset-y: -54px;
$profile-medal-1-width: 40px;
$profile-medal-1-height: 40px;
$profile-medal-1-total-width: 158px;
$profile-medal-1-total-height: 132px;
$profile-medal-1-image: '../images/sprite/sprite.png';
$profile-medal-1: (80px, 54px, -80px, -54px, 40px, 40px, 158px, 132px, '../images/sprite/sprite.png', 'profile-medal-1', );
$profile-medal-2-name: 'profile-medal-2';
$profile-medal-2-x: 40px;
$profile-medal-2-y: 54px;
$profile-medal-2-offset-x: -40px;
$profile-medal-2-offset-y: -54px;
$profile-medal-2-width: 40px;
$profile-medal-2-height: 40px;
$profile-medal-2-total-width: 158px;
$profile-medal-2-total-height: 132px;
$profile-medal-2-image: '../images/sprite/sprite.png';
$profile-medal-2: (40px, 54px, -40px, -54px, 40px, 40px, 158px, 132px, '../images/sprite/sprite.png', 'profile-medal-2', );
$profile-medal-3-name: 'profile-medal-3';
$profile-medal-3-x: 0px;
$profile-medal-3-y: 54px;
$profile-medal-3-offset-x: 0px;
$profile-medal-3-offset-y: -54px;
$profile-medal-3-width: 40px;
$profile-medal-3-height: 40px;
$profile-medal-3-total-width: 158px;
$profile-medal-3-total-height: 132px;
$profile-medal-3-image: '../images/sprite/sprite.png';
$profile-medal-3: (0px, 54px, 0px, -54px, 40px, 40px, 158px, 132px, '../images/sprite/sprite.png', 'profile-medal-3', );
$rocket-name: 'rocket';
$rocket-x: 76px;
$rocket-y: 94px;
$rocket-offset-x: -76px;
$rocket-offset-y: -94px;
$rocket-width: 36px;
$rocket-height: 36px;
$rocket-total-width: 158px;
$rocket-total-height: 132px;
$rocket-image: '../images/sprite/sprite.png';
$rocket: (76px, 94px, -76px, -94px, 36px, 36px, 158px, 132px, '../images/sprite/sprite.png', 'rocket', );
$tip-human-name: 'tip-human';
$tip-human-x: 132px;
$tip-human-y: 111px;
$tip-human-offset-x: -132px;
$tip-human-offset-y: -111px;
$tip-human-width: 16px;
$tip-human-height: 20px;
$tip-human-total-width: 158px;
$tip-human-total-height: 132px;
$tip-human-image: '../images/sprite/sprite.png';
$tip-human: (132px, 111px, -132px, -111px, 16px, 20px, 158px, 132px, '../images/sprite/sprite.png', 'tip-human', );
$tip-project-name: 'tip-project';
$tip-project-x: 112px;
$tip-project-y: 94px;
$tip-project-offset-x: -112px;
$tip-project-offset-y: -94px;
$tip-project-width: 16px;
$tip-project-height: 20px;
$tip-project-total-width: 158px;
$tip-project-total-height: 132px;
$tip-project-image: '../images/sprite/sprite.png';
$tip-project: (112px, 94px, -112px, -94px, 16px, 20px, 158px, 132px, '../images/sprite/sprite.png', 'tip-project', );
$spritesheet-width: 158px;
$spritesheet-height: 132px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $comment, $hover-comment, $hover-heart, $hover-star, $icon-bronce, $icon-oro, $icon-plata, $profile-check, $profile-medal-1, $profile-medal-2, $profile-medal-3, $rocket, $tip-human, $tip-project, );
$spritesheet: (158px, 132px, '../images/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
